 <html>
    <style>
        hr{
    border:4px solid rgb(10, 11, 11);
}
    </style>
    <header style="background-color:rgb(41, 40, 40); color:bisque;"><br><br><center><h1>THE EVENT EXPERTS</h1><h3>-Service Page</h3><br><br></center></header>

  <body style="background: linear-gradient(to bottom, #d5e80c 0%, #eb2424 100%)">
 <h1>Our Services</h1>
    <hr>
      <center>
      <img src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="50%"><br><h1>Event Planning</h1>
      <hr>
      <img src="https://images.pexels.com/photos/8828586/pexels-photo-8828586.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="20%"><br><h1>Venue Selection</h1>
<hr>
<img src="https://i.pinimg.com/originals/98/33/08/9833085c708939385d4eb05532b6d5f1.jpg" width="50%"><br><h1>Decorations</h1>
<hr>
<img src="https://images.pexels.com/photos/17057198/pexels-photo-17057198/free-photo-of-close-up-of-a-viewfinder-of-a-camera-photographing-bride-and-groom.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="30%"><br><h1>Photography</h1>
<hr>
<img src="https://static.businessworld.in/article/article_extra_large_image/1516003632_d8yz3S_catering2470.jpg" width="50%"><br><h1>Catering</h1>
<hr>
<img src="https://i.pinimg.com/originals/69/68/18/6968185a28462724bc0bad9a639ff623.jpg" width="50%"><br><h1>Entertainment</h1>
<hr>
<img src="https://cdn.pixabay.com/photo/2016/11/22/19/15/hand-1850120_1280.jpg" width="50%"><br><h1>DJ</h1>
<hr>
    </center>
    
</div>
  </body>
  <footer style="background-color:rgb(41, 40, 40);"><br><br><br><br></footer>
</html>